.content {
  max-width: 340px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 8px 8px 10px #c2cad465;
  margin-bottom: 30px;
  background-image: url(https://lh3.googleusercontent.com/HKQ1Emo4jHbmftkSY87dKTq959AB9bnyohe5Yvii0VdJT4eVl1Z3tl6UI6y_XgpwGEQiQonn4LLFI1KOwp5Eau-UEY8znUkS6l990SXKrcWswMVY7GqEMGCOotcg6Vs46QX8n7bA__h_Kd8BSz2u-ZG-PubtZt-sMJK_GnRScclj14G3PAp-Ife2JYXjEgiLU4UH-q871o6vOIQ_G-8mrGdaHv7oRa1nRpnaPm-Pc7cvcAIlZypDahO8A40CeWeuPjMJO6o4fLVcuUztTufA5Qr6JnzNQimJ-nGT3_5e8IDy_AmX8PKEqwz44ZSj8poFABUqbATBTVxIdnatJ96REvl7vu6K5cbf2KpN4jadAKJVp2_j2SKqdYk6eMDhtl462ilsWi9oo77puXPKrYHP4rjbfvsJvfmTyhZIHfcaHsIl5tak-43VVnQNLOLvn6w8Xl--pwNOl5ny8h7w5rF6XX0tYd7mbrghcurWeycsXs6u3AQyMYJY2w7CvjZv0ciXmSFzM_km5bgQ5Sf8qlterQEZovkulAs2e5Fl6d0QWZQurUAonkrrpsLHvsSX7ZyEp2DZi1xuzyI3WVBUBE-FISR0yQni8zthnSG62I8dOssXyAUccRV9-RY7wsEPzN0MXFv1bb6-aYFV29wWN3dxI29JwbL4iPPr1BIbEt3RYDAajnUSC-VvqEDCNsx54aNsMjGi4wfzVx7cH3FJXXQTXqxAFnnQn2jMZ6WpPm5HQTtIV2l89k3MIvmP2c-c=w400-h800-no?authuser=0);
}

.boxInfo {
  text-align: center;
  color: aliceblue;
  background-color: #a8d3d8;
  width: 250px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #cbd1d8ae;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}

.city {
  font-size: 45px;
  font-style: normal;
  font-family: "Didact Gothic", sans-serif;
}

.degrees {
  font-size: 65px;
  font-style: normal;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 34px;
}

span {
  font-size: 25px;
}

.day {
  line-height: 12px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 35px;
  font-weight: 500;
}

.time {
  line-height: 22px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 25px;
}
hr {
  width: 100%;
}

/*still padding */
ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  line-height: 17px;
}

small {
  margin-left: 250px;
}
